.cm-s-neat span.cm-comment { color: #808080; }
.cm-s-neat span.cm-keyword { line-height: 1em; color: #1BA1E2; }
.cm-s-neat span.cm-string { color: #E51400; }
.cm-s-neat span.cm-builtin { line-height: 1em; color: #00ABA9; }
.cm-s-neat span.cm-special { line-height: 1em; color: #00ABA9; }
.cm-s-neat span.cm-variable { color: #000; }
.cm-s-neat span.cm-number, .cm-s-neat span.cm-atom { color: #339933; }
.cm-s-neat span.cm-meta {color: #808080;}
.cm-s-neat span.cm-link { color: #339933; }
