@font-face {
    font-family: 'RobotoLight';
    src: url('/assets/fonts/roboto-light-webfont.eot');
    src: url('/assets/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/roboto-light-webfont.woff') format('woff'),
         url('/assets/fonts/roboto-light-webfont.ttf') format('truetype'),
         url('/assets/fonts/roboto-light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant:normal;
}

@font-face {
    font-family: 'RobotoThin';
    src: url('/assets/fonts/roboto-thin-webfont.eot');
    src: url('/assets/fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/roboto-thin-webfont.woff') format('woff'),
         url('/assets/fonts/roboto-thin-webfont.ttf') format('truetype'),
         url('/assets/fonts/roboto-thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant:normal;
}

html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

p,
body {
    font-size: 11pt;
}

p,
body,
strong {
    font-family: "Segoe UI", 'RobotoLight', "Segoe WP", "Helvetica Neue", sans-serif;
}

#ide {
    position: absolute;
    top: 61px;
    left: 0;
    right: 0;
    bottom: 0;
    
    overflow: hidden;
}

#about {
    width: 100%;
    height: 100%;
}

#commands {
    font-family: "Segoe UI Light", "Segoe UI", 'RobotoThin', "Helvetica Neue",  "Segoe WP", sans-serif;
    padding: 0 10px;
    margin: 9px 0;
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
}

#commands a {
    padding-left: 10px;
}

#editors {
    position: absolute;

    margin: 0 20px;
    
    top: 50px;
    left: 0;
    right: 0;
    bottom: 155px;
}

#editors #define {
    position: absolute;
    margin-right: 10px;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
}
#editors #execute {
    position: absolute;
    margin-left: 10px;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
}

#editors .editor {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

#editors .CodeMirror, 
#editors .CodeMirror-scroll {
    height: 100%;
    overflow-x: auto;
    width: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 9999;
}

#footer .results {
    position: absolute;
    padding: 0 20px 15px;
    bottom: 0;
    
    left: 0;
    right: 0;
}

#footer .results pre {
    height: 100px;
    overflow: auto;
}

#footer .results pre {
    min-height: 100px;

    background: #e6e6e6 url(/assets/img/observe.png) no-repeat bottom right;

    margin-bottom: 0;
    
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

#footer .status {
    position: absolute;

    height: 10px;

    bottom: 0;
    left: 0;
    right: 0;

    background-color: #1BA1E2;
    opacity: 0.6;
}

#footer .status:hover {
    height: auto;
}

#footer .status .loading-indicator {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer .status .loading-indicator span {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    
    opacity: 0;
    
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 35%, rgba(255,255,255,0.9) 65%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(35%,rgba(255,255,255,0.9)), color-stop(65%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 35%,rgba(255,255,255,0.9) 65%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 35%,rgba(255,255,255,0.9) 65%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 35%,rgba(255,255,255,0.9) 65%,rgba(255,255,255,0) 100%);
    background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 35%,rgba(255,255,255,0.9) 65%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );

    -webkit-animation: loading 2.5s linear infinite;
       -moz-animation: loading 2.5s linear infinite;
        -ms-animation: loading 2.5s linear infinite;
            animation: loading 2.5s linear infinite;

    z-index: 999999;

    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;
}

.loading .loading-indicator span {
    opacity: 1;
}

#footer .status .messages  {
    list-style: none;
    margin-left: 0;
}

#footer .status .messages {
    padding: 5px 0 5px 25px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 5px;
    margin-bottom: 5px;

    color: white;
}


#footer .status .messages {
    max-height: 150px;
    margin: 10px 15px 10px 0;
    overflow: auto;
}

#footer .status .messages li {
    font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoLight', sans-serif;
    color: white;
    margin: 0;
}

#footer .status.status-success {
    background-color: #339933;
}

#footer .status.status-warning {
    background-color: #F09609;
}

#footer .status.status-error {
    background-color: #E51400;
}


/* Navbar 
 *****************************************************************************/
.navbar,
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI Light", "Segoe UI", 'RobotoThin', "Helvetica Neue", "Segoe WP", sans-serif;
    font-weight: 100;
}
.navbar {
    margin-bottom: 0;
    width: 100%;
}

.navbar-inner {
    color: #000;
    filter: none;
    background: #e6e6e6;
    padding: 0;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.navbar .brand {
    color: #444;
    padding-top: 10px;
    padding-bottom: 15px;
}

.navbar .brand h1 {
    font-size: 32px;
}

.navbar .brand h1 small {
    line-height: 18px;
}

.navbar .nav li,
.navbar .nav li a {
    padding-top: 0;
    padding-bottom: 0;

    margin-top: 11px;
}

.navbar .nav > li > a:hover {
    color: #1BA1E2;
}

.navbar .nav > li > a,
.navbar .nav > li.active > a {
    color: #444;
    font-size: 20px;
    background: none;
    text-shadow: none;

    -webkit-transition: color 0.25s;
       -moz-transition: color 0.25s;
         -o-transition: color 0.25s;
            transition: color 0.25s;
}

.navbar .appharbor {
    margin-top: 5px;
}

h1 {
    font-weight: normal;
}

.page-header {
    padding-bottom: 0;
    border: none;
    margin: 9px 0;
}

.page-header small a {
    padding-left: 10px;
}

/* Social 
 *****************************************************************************/

#social {
    list-style: none;
    display: inline-block;

    padding: 0;
    margin: 17px 0 0;
}

#social li {
    display: inline-block;
    opacity: 0.4;

    
    -webkit-transition: opacity 0.2s;
       -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
         -o-transition: opacity 0.2s;
            transition: opacity 0.2s;
}

#social li:hover {
    opacity: 1;
}

#social .octocat {
    background-color: #F09609;
}

#social .twitter {
    background-color: #1BA1E2;
}

#social .gh-fork {
    background-color: #F09609;
}


.CodeMirror {
    font-family: 'Droid Sans Mono', 'Inconsolata', 'Monaco', 'Consolas', 'Andale Mono', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    font-size: 11px;
}

.editor, #footer .results pre {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.CodeMirror pre.CodeMirror-cursor {
    border-left-color: #555;
}

.editor .CodeMirror-scroll {
    height: 450px;
}

.editor :-webkit-scrollbar-track-piece {
    background-color: #fff;
}

.editor ::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

.editor ::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    
    border: 1px solid #fff;
    border-top: none;
    border-bottom: none;
}

.editor ::-webkit-scrollbar-thumb:hover {
    background-color: #e0e0e0;
}

.editor {
    position: relative;
}

.editor .compilation-error {
    background-color: rgba(229, 20, 0, 0.3);
    -webkit-box-shadow: 0 0 2px rgba(229, 20, 0, 0.3);
       -moz-box-shadow: 0 0 2px rgba(229, 20, 0, 0.3);
            box-shadow: 0 0 2px rgba(229, 20, 0, 0.3);
}

#define .editor {
    background: #fff url(/assets/img/define.png) no-repeat bottom right;
}

#execute .editor {
    background: #fff url(/assets/img/execute.png) no-repeat bottom right;
}

/* About 
 *****************************************************************************/

#about .page-header {
    margin: 10px 0 3px;
}

#about ul {
    list-style: none;
}

#about .disclaimer {
    font-size: 0.8em;
}


/* Error 
 *****************************************************************************/
#error {
    text-align: center;
}

#error hgroup {
    display: block;
    margin: 0 auto;
    clear: both;
    height: auto;
}

#error hgroup h1, 
#error hgroup h2 {
    margin: 10px 0;
    text-align: center;
}

#error hgroup h1 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 200px;
    margin: 20px 0;
    line-height: 200px;
}

@-webkit-keyframes loading {
  0% { left: -100%; }
  100% { left: 150%; }
}	
@-moz-keyframes loading {
  0% { left: -100%; }
  100% { left: 200%; }
}	
@-ms-keyframes loading {
  0% { left: -100%; }
  100% { left: 200%; }
}	
@keyframes loading {
  0% { left: -100%; }
  100% { left: 200%; }
}	


/* CodeMirror Theme 
 *****************************************************************************/
.cm-s-compilify span.cm-comment { color: #808080; }
.cm-s-compilify span.cm-keyword { line-height: 1em; color: #1BA1E2; }
.cm-s-compilify span.cm-string { color: #E51400; }
.cm-s-compilify span.cm-builtin { line-height: 1em; color: #00ABA9; }
.cm-s-compilify span.cm-special { line-height: 1em; color: #00ABA9; }
.cm-s-compilify span.cm-variable { color: #000; }
.cm-s-compilify span.cm-number, .cm-s-neat span.cm-atom { color: #339933; }
.cm-s-compilify span.cm-meta {color: #808080;}
.cm-s-compilify span.cm-link { color: #339933; }
