@font-face {
    font-family: 'RobotoRegular';
    src: url('/assets/fonts/Roboto-Regular-webfont.eot');
    src: url('/assets/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('/assets/fonts/Roboto-Light-webfont.eot');
    src: url('/assets/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Roboto-Light-webfont.woff') format('woff'),
         url('/assets/fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('/assets/fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
}

html, 
body {
    height: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body, 
strong {
    font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
}

#header {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;

    height: 61px;
    min-width: 600px;
}

#content {
    position: absolute;
    top: 61px;
    left: 0;
    right: 0;
    bottom: 0;
}

#content form {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#commands {
    font-family: "Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;
    padding: 0 10px;
    margin: 9px 0;
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
}

#commands a {
    padding-left: 10px;
}

#editors {
    position: absolute;

    margin: 0 20px;
    
    top: 50px;
    left: 0;
    right: 0;
    bottom: 150px;
}

#editors #define {
    position: absolute;
    margin-right: 10px;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
}
#editors #execute {
    position: absolute;
    margin-left: 10px;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
}

#editors .editor {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

#editors .CodeMirror, 
#editors .CodeMirror-scroll {
    height: 100%;
    overflow-x: auto;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
}

#results {
    position: absolute;
    padding: 0 20px 20px;
    bottom: 0;
    
    left: 0;
    right: 0;
}

#results pre {
    margin-bottom: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

#status {
    position: absolute;
    height: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: #1BA1E2;
    opacity: 0.6;
    
    -webkit-transition: height 0.1s;
       -moz-transition: height 0.1s;
         -o-transition: height 0.1s;
            transition: height 0.1s;
}

#status:hover {
    height: 30px;
}

#status .status-success {
    background-color: #339933;
}

#status .status-warning {
    background-color: #F09609;
}

#status .status-error {
    background-color: #E51400;
}


/* Navbar 
 *****************************************************************************/
.navbar,
h1, h2, h3, h4, h5, h6, p {
    font-family: "Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;
    font-weight: 100;
}

p {
    font-size: 14px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inner {
    color: #000;
    filter: none;
    background: #efefef;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.navbar .brand {
    color: #444;
    padding-top: 10px;
    padding-bottom: 15px;
}

.navbar .brand h1 {
    font-size: 32px;
}

.navbar .brand h1 small {
    line-height: 18px;
}

.navbar .nav li,
.navbar .nav li a {
    padding-top: 0;
    padding-bottom: 0;

    margin-top: 11px;
}

.navbar .nav > li > a:hover {
    color: #1BA1E2;
}

.navbar .nav > li > a,
.navbar .nav > li.active > a {
    color: #444;
    font-size: 20px;
    background: none;
    text-shadow: none;

    -webkit-transition: color 0.25s;
       -moz-transition: color 0.25s;
         -o-transition: color 0.25s;
            transition: color 0.25s;
}

.navbar .appharbor {
    margin-top: 5px;
}

h1 {
    font-weight: normal;
}

.page-header {
    padding-bottom: 0;
    border: none;
    margin: 9px 0;
}

.page-header small a {
    padding-left: 10px;
}

#social {
    list-style: none;
    display: inline-block;
    margin-top: 25px;
}

#social li {
    display: inline-block;
    width: 100px;
}


.CodeMirror {
    font-family: 'Droid Sans Mono', 'Inconsolata', 'Monaco', 'Consolas', 'Andale Mono', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    font-size: 11px;
}

.editor, #results pre {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#results pre {
    min-height: 100px;

    background: #f5f5f5 url(/assets/img/observe.png) no-repeat bottom right;
    
    
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.CodeMirror pre.CodeMirror-cursor {
    border-left-color: #555;
}

.editor .CodeMirror-scroll {
    height: 450px;
}

.editor :-webkit-scrollbar-track-piece {
    background-color: #fff;
}

.editor ::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

.editor ::-webkit-scrollbar-thumb {
    background-color: #efefef;
    
    border: 1px solid #fff;
    border-top: none;
    border-bottom: none;
}

.editor ::-webkit-scrollbar-thumb:hover {
    background-color: #e0e0e0;
}

.editor {
    position: relative;
}

.editor .compilation-error {
    background-color: rgba(229, 20, 0, 0.3);
    -webkit-box-shadow: 0 0 2px rgba(229, 20, 0, 0.3);
       -moz-box-shadow: 0 0 2px rgba(229, 20, 0, 0.3);
            box-shadow: 0 0 2px rgba(229, 20, 0, 0.3);
}

#define .editor {
    background: #fff url(/assets/img/define.png) no-repeat bottom right;
}

#execute .editor {
    background: #fff url(/assets/img/execute.png) no-repeat bottom right;
}

.messages ul {
    list-style: none;
    margin-left: 0;
}

.messages .message {
    padding: 5px 0 5px 25px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 5px;
    margin-bottom: 5px;

    color: white;
        
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    opacity: .4;

    -webkit-transition: opacity 0.15s linear;
       -moz-transition: opacity 0.15s linear;
         -o-transition: opacity 0.15s linear;
            transition: opacity 0.15s linear;
}

.messages .message:hover {
    opacity: 1;
}
    
.messages .success {
    background-color: #339933;
}
    
.messages .warning {
    background-color: #F09609;
}
    
.messages .error {
    background-color: #E51400;
}
    
.messages .info {
    background-color: #1BA1E2;
}
     
#about .page-header {
    margin: 10px 0 3px;
}

#about ul {
    list-style: none;
}

#about p strong {
    color: #F09609;
    opacity: 0.75;
}
     
#about .blue {
    color: #444;
}
     
#about .disclaimer {
    font-size: 0.8em;
}

/* Error 
 *****************************************************************************/
#error
{
    text-align: center;
}

#error hgroup {
    display: block;
    margin: 0 auto;
    clear: both;
    height: auto;
}

#error hgroup h1, 
#error hgroup h2 {
    margin: 10px 0;
    text-align: center;
}

#error hgroup h1 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 200px;
    margin: 20px 0;
    line-height: 200px;
}