@font-face {
    font-family: 'RobotoRegular';
    src: url('/assets/fonts/Roboto-Regular-webfont.eot');
    src: url('/assets/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('/assets/fonts/Roboto-Light-webfont.eot');
    src: url('/assets/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Roboto-Light-webfont.woff') format('woff'),
         url('/assets/fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('/assets/fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 14px;
}

body, 
strong {
    font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
}

/* Navbar 
 *****************************************************************************/
.navbar,
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;
}

.navbar {
    margin-bottom: 0;
}

.navbar-inner {
    color: #000;
    filter: none;
    background: #f1f1f1;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.navbar .brand {
    color: #444;
    padding-top: 16px;
    padding-bottom: 24px;
}

.navbar .brand h1 {
    font-size: 36px;
}

.navbar .brand h1 small {
    line-height: 18px;
}

.navbar .nav li,
.navbar .nav li a {
    padding-top: 0;
    padding-bottom: 0;
    height: 76px;
    line-height: 76px;
}

.navbar .nav > li > a:hover {
    color: #393;
}

.navbar .nav > li > a,
.navbar .nav > li.active > a {
    color: #444;
    font-size: 20px;
    background: none;
    text-shadow: none;

    -webkit-transition: color 0.25s;
       -moz-transition: color 0.25s;
         -o-transition: color 0.25s;
            transition: color 0.25s;
}

h1 {
    font-weight: normal;
}

.page-header {
    padding-bottom: 0;
    border: none;
}

.page-header small a {
    padding-left: 10px;
}

.CodeMirror {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 13px;
}

.editor {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.CodeMirror pre.CodeMirror-cursor {
    border-left-color: #555;
}

.CodeMirror-scroll {
    height: auto;
    min-height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
}

#define .messages ul {
    list-style: none;
    margin-left: 0;
}

#define .messages .message {
    padding: 5px 0 5px 25px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 5px;
    margin-bottom: 5px;

    color: white;
        
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    opacity: .4;

    -webkit-transition: opacity 0.15s linear;
       -moz-transition: opacity 0.15s linear;
         -o-transition: opacity 0.15s linear;
            transition: opacity 0.15s linear;
}

#define .messages .message:hover {
    opacity: 1;
}
    
#define .messages .success {
    background-color: #339933;
}
    
#define .messages .warning {
    background-color: #F09609;
}
    
#define .messages .error {
    background-color: #E51400;
}
    
#define .messages .info {
    background-color: #1BA1E2;
}
