@model IEnumerable<string>

<ul>
    @if (!Model.Any())
    {
        <li class="message success">Build completed successfully.</li>
    }
    else
    {
        foreach (var error in Model)
        {
            <li class="message error">@error</li>
        }
    }
</ul>
