@{ ViewBag.Title = "About"; }

<div class="container">
    <div class="page-header">
        <h1>about</h1>
    </div>

    <div id="about">
        <div class="page-header">
            <h2>what is this?</h2>
        </div>
        <p>
            compilify.net is an interactive web interface for the .NET compiler 
            powered by the <a href="http://msdn.microsoft.com/en-us/roslyn">Roslyn Project</a>. 
            It allows you to quickly and easily execute snippets of C# code from 
            your browser.
        </p>
        <div class="page-header">
            <h2>why would I use this?</h2>
        </div>
        <p>
            You can use compilify.net to <strong>learn</strong> C#, 
            <strong>share</strong> and <strong>test</strong> code, 
            <strong>reproduce</strong> bugs, <strong>explore</strong> fixes, and 
            to <strong>demonstrate</strong> and <strong>collaborate</strong> on ideas.
        </p>
        <p>
            It's <strong>fast</strong> and <strong>simple</strong>. You can use it 
            from <strong>any device</strong>* with a web browser, without installing
            <strong>any</strong> additional plugins. Use it when you <strong>don't 
            have time</strong> for a full IDE!
        </p>
        <p class="disclaimer">
            * This site on all devices. If you find a bug,
            <a href="https://github.com/Compilify/Compilify/issues">let us know</a>!
        </p>
        <div class="page-header">
            <h2>how do I use this?</h2>
        </div>
        <p>
            Type or paste your code in the editor and click <strong>run</strong>. 
            At the end of your code, return the value you want to display in 
            the results panel below. Click the <strong>save</strong> link to 
            generate a unique URL for your snippet. 
        </p>
        <p>
            Check out these cool <strong>examples</strong>:
        </p>
        <ul>
            <li><a href="//compilify.net/3b">FizzBuzz</a></li>
            <li><a href="//compilify.net/8m/2">Fibonacci Sequence</a></li>
        </ul>
        <p>
            Have an awesome snippet to share? <a href="https://github.com/Compilify/Compilify/issues/24" target="_blank">
            Submit your snippet</a> for use as an example!
        </p>
        <p>
            This application currently only supports <strong>method-level 
            statements</strong>. Support for class declarations is coming in the 
            near future.
        </p>
        <p>
            <a href="http://social.msdn.microsoft.com/Forums/en-US/roslyn/thread/f5adeaf0-49d0-42dc-861b-0f6ffd731825">
            Not all features</a> of the compiler are currently supported by the 
            Roslyn CTP.
        </p>
        <div class="page-header">
            <h2>can I help?</h2>
        </div>
        <p>
            Absolutely! The <strong>source code</strong> for this site is available 
            on <a href="https://github.com/Compilify/Compilify">Github</a> under the 
            <a href="https://github.com/Compilify/Compilify/blob/master/LICENSE">
            MIT license</a>! 
        </p>
        <div class="page-header">
            <h3>who are you?</h3>
        </div>
        <p>
            You can find me on <a href="https://github.com/JRusbatch">Github</a> 
            and <a href="https://twitter.com/jrusbatch" data-show-count="false">Twitter</a>.
        </p>
    </div>
</div>