@{ ViewBag.Title = "Home"; }

<div id="execute">
    <div class="page-header">
        <h1>define</h1>
    </div>
    <textarea class="js-editor">@ViewBag.Define</textarea>
</div>

<div id="observe">
    <div class="page-header">
        <h1>observe</h1>
    </div>
    <textarea class="js-editor">@ViewBag.Observe</textarea>
</div>

@section PageScripts {
    <script>
        (function(Compilify) {
            var root = this,
                $ = root.jQuery,
                _ = root._,
                CodeMirror = root.CodeMirror;

            
//            var compile = _.debounce(function( text ) {
//                connection.send(text);

//                $.ajax({
//                    url: '/compile',
//                    type: 'POST',
//                    cache: false,
//                    contentType: 'application/json; charset=utf-8',
//                    data: root.JSON.stringify({ code: text }),
//                    dataType: 'json',

//                    success: function( resp ) {
//                        Compilify.ResultPanel.setValue(resp.data || '');
//                    }
//                });
//            }, 500);

            $(function() {
                var editor = $('#execute .js-editor')[0],
                    results = $('#observe .js-editor')[0];
                
                // Set up SignalR
                var connection = $.connection('compile');
                
                connection.received(function(msg) {
                    if (msg.sender !== connection.)

                    Compilify.Editor.setValue(msg.code || '');
                    Compilify.ResultPanel.setValue(msg.result || msg.error || '');
                });

                var compile = _.debounce(function(sender, key) {
                    connection.send(sender.getValue());
                }, 500);


                // Set up editor
                Compilify.Editor = CodeMirror.fromTextArea(editor, {
                    indentUnit: 4,
                    lineNumbers: true,
//                    onKeyEvent: function( editor, key ) {
//                        compile(editor.getValue());
//                    }
                    
                    onKeyEvent: compile
                    
                });
                
                Compilify.ResultPanel = CodeMirror.fromTextArea(results, {
                    readOnly: true,
                    lineWrapping: true
                });

                connection.start();
            });
        }).call(window, window.Compilify || {});
    </script>
}
