@{ ViewBag.Title = "Home"; }

<div class="row-fluid">
    <div class="span6">
        <div id="define">
            <div class="page-header">
                <h1>define</h1>
            </div>
            <textarea class="js-editor">@ViewBag.Define</textarea>
        </div>
        
    </div>
    <div class="span6">
        
        <div id="observe">
            <div class="page-header">
                <h1>observe</h1>
            </div>
            <textarea class="js-editor">@ViewBag.Observe</textarea>
        </div>

    </div>
</div>


@section PageScripts {
    <script>
        (function(Compilify) {
            var root = this,
                $ = root.jQuery,
                _ = root._,
                CodeMirror = root.CodeMirror;
            
            $(function() {
                var editor = $('#define .js-editor')[0],
                    // console = $('#execute .js-editor')[0],
                    results = $('#observe .js-editor')[0];
                
                // Set up SignalR
                var connection = $.connection('compile');
                
                connection.received(function(msg) {
                    if (msg.sender !== connection.id) {
                        Compilify.Editor.setValue(msg.code || '');
                    }

                    Compilify.ResultPanel.setValue(msg.result || msg.error || '');
                });

                var compile = _.debounce(function(sender, key) {
                    connection.send(sender.getValue());
                }, 500);

                // Set up editor
                Compilify.Editor = CodeMirror.fromTextArea(editor, {
                    indentUnit: 4,
                    lineNumbers: true,
                    height: 'dynamic',
                    minHeight: '600px',
                    
                    onKeyEvent: compile
                    
                });
                
                Compilify.ResultPanel = CodeMirror.fromTextArea(results, {
                    readOnly: true,
                    height: '300px',
                    lineWrapping: true
                });

                connection.start();
            });
        }).call(window, window.Compilify || {});
    </script>
}
