@{ ViewBag.Title = "Home"; }

<div id="execute">
    <div class="page-header">
        <h1>define</h1>
    </div>
    <textarea class="editor">@ViewBag.Define</textarea>
</div>

<div id="observe">
    <div class="page-header">
        <h1>observe</h1>
    </div>
    <textarea class="editor">@ViewBag.Observe</textarea>
</div>

@section PageScripts {
    <script>
        (function(Compilify) {
            var root = this,
                $ = root.jQuery,
                _ = root._,
                CodeMirror = root.CodeMirror;
            
            var compile = _.debounce(function( text ) {
                $.ajax({
                    url: '/compile',
                    type: 'POST',
                    cache: false,
                    contentType: 'application/json; charset=utf-8',
                    data: root.JSON.stringify({ code: text }),
                    dataType: 'json',

                    success: function( resp ) {
                        Compilify.ResultPanel.setValue(resp.data || '');
                    }
                });
            }, 500);

            $(function() {
                var editor = $('#execute .editor')[0],
                    results = $('#observe .editor')[0];

                Compilify.Editor = CodeMirror.fromTextArea(editor, {
                    indentUnit: 4,
                    lineNumbers: true,
                    onKeyEvent: function( editor, key ) {
                        compile(editor.getValue());
                    }
                });
                
                Compilify.ResultPanel = CodeMirror.fromTextArea(results, {
                    readOnly: true
                });
            });
    
        }).call(window, window.Compilify || {});
    </script>
}
