@model Compilify.Web.Models.PostViewModel

@*
{{ }}	for evaluation
{{= }}	for interpolation
{{! }}	for interpolation with encoding
{{# }}	for compile-time evaluation/includes and partials
{{## #}}	for compile-time defines
{{? }}	for conditionals
{{~ }}	for array iteration
*@

<script id="reference-template" type="text/html">
    <li class="reference">
        <span class="reference-name">
            {{= it.Name }}
            <span class="reference-version secondary">{{= it.Version }}</span>
        </span>

        <a class="reference-delete" href="#">&times;</a>
    </li>
</script>

<script id="tab-template" type="text/html">
    <li>
        <span class="tab" data-toggle="tab" data-target="{{= it.Name }}">
            <span class="tab-name">{{= it.Name }}</span>
            <span class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="js-rename-tab" href="#">
                            <i class="icon-pencil"></i>
                            Rename
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="js-delete-tab" href="#">
                            <i class="icon-trash"></i>
                            Delete
                        </a>
                    </li>
                </ul>
            </span>
        </span>
    </li>
</script>

<script id="document-template" type="text/html">
    <div id="{{= it.Name }}" class="tab-pane">
        <textarea>{{= it.Content }}</textarea>
    </div>
</script>

<div id="sidebar">
    <div class="inner">
        <div id="references">
            <h4>References</h4>
            <ul>
                @* ------ References go here! ------- *@
            </ul>
        </div>

        <div class="sidebar-bottom">
            <a href="https://appharbor.com">
                <img src="~/assets/img/appharbor.png" alt="Hosted by AppHarbor" />
            </a>
        </div>
    </div>
</div>

<div id="ide">
    <ul id="document-tabs" class="nav nav-tabs">
        <li>
            <a href="#" class="tab new-tab" title="New document">
                <i class="icon-plus-sign"></i>
            </a>
        </li>
    </ul>

    <div class="workspace">
        <div class="editor tab-content">
            @* ------ Editors go here! ------- *@
        </div>
    </div>

    <div class="status-bar">
        <div class="inner">
            <span>Ready</span>
        </div>
    </div>
</div>

@section PageScripts {
    <script id="init">
        Compilify.initializeWorkspace(@Html.Raw(Json.Encode(Model)));
    </script>
}
