@model Compilify.Web.Models.PostViewModel

@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="page-header">
            <h2>
                @*@(Model.Title ?? "Untitled")*@
            
                <small class="commands">
                    <a class="js-new" href="/">new</a>
                    <a class="js-save" href="#">save</a>
                    <a class="js-run" href="#">run</a>
                </small>
            </h2>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div id="define">
                    <div class="editor">
                        @Html.TextAreaFor(x => x.Classes)
                    </div>
                </div>
            </div>
            <div class="span6">
                <div id="execute">
                    <div class="editor">
                        @Html.TextAreaFor(x => x.Content)
                    </div>
                </div>
            </div>
        </div>

        <div class="messages">
            <ul>
                @if (!Model.Errors.Any())
                {
                    <li class="message success">Build completed successfully!</li>
                }
                else
                {
                    foreach (var error in Model.Errors)
                    {
                        <li class="message error">@error.Message</li>
                    }
                }
            </ul>
        </div>

        <div id="results">
            <div class="page-header">
                <h1>observe</h1>
            </div>
            <pre></pre>
        </div>
    </div>
}
