@model Compilify.Web.Models.PostViewModel

@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <div id="define">
                    <div class="page-header">
                        <h1>
                            define
                            <small>
                                @if (Model.HasSlug)
                                {
                                    <a class="js-save">fork</a>
                                    
                                    if (Model.CurrentUserIsAuthor)
                                    {
                                        <a class="js-save">update</a>
                                    }
                                }
                                else
                                {
                                    <a class="js-save" href="#">save</a>
                                }
                                
                                <a class="js-execute" href="#">run</a>
                            </small>
                        </h1>
                    </div>
            
                    <div class="editor">
                        @Html.TextAreaFor(x => x.Post.Classes)
                    </div>
                </div>
            </div>
            <div class="span6">
                <div id="execute">
                    <div class="page-header">
                        <h1>execute</h1>
                    </div>

                    <div class="editor">
                        @Html.TextAreaFor(x => x.Post.Content)
                    </div>
                </div>
            </div>
        </div>

        <div class="messages">
            <ul>
                @if (!Model.Errors.Any())
                {
                    <li class="message success">Build completed successfully!</li>
                }
                else
                {
                    foreach (var error in Model.Errors)
                    {
                        <li class="message error">@error</li>
                    }
                }
            </ul>
        </div>

        <div id="results">
            <div class="page-header">
                <h1>observe</h1>
            </div>
            <pre></pre>
        </div>
    </div>
}
