<ul id="social">
    <li class="twitter">
        <a title="Share this on Twitter" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fcompilify.net&text=Check%20out%20%23compilify%20-%20compile%20%23dotnet%20from%20your%20browser%21">
            <img src="~/assets/img/twitter.png" alt="twitter icon" height="28" width="28" />
        </a>
    </li>

    <li class="octocat">
        <a title="View the source on Github" href="https://github.com/Compilify/Compilify">
            <img src="~/assets/img/octocat.png" alt="github icon" height="28" width="28" />
        </a>
    </li>
</ul>
