<ul id="social">
    <li id="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://compilify.net" data-text="Check out #compilify - compile #dotnet from your browser!">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </li>
@*    <li id="github-watch">
        <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=compilify&repo=compilify&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
    </li>
    <li id="github-fork">
        <iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=compilify&repo=compilify&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
    </li>*@
</ul>
