<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="LOGENTRIES_ACCOUNT_KEY" value="" />
		<add key="LOGENTRIES_LOCATION" value="" />
	</appSettings>

	<nlog xdt:Transform="Replace">
		<extensions>
			<add assembly="le_nlog" />
		</extensions>
		<targets>
			<target name="logentries" type="Logentries" debug="true" ssl="false" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger:shortName=true} : ${LEVEL}, ${message}" />
		</targets>
		<rules>
			<logger name="*" minLevel="Info" appendTo="logentries" />
		</rules>
	</nlog>

</configuration>