<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="MONGOLAB_URI" value="mongodb://localhost/Compilify"/>
    <add key="REDISTOGO_URL" value="redis://localhost:6379"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="le_nlog" />
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" key="8df5f431-bbdc-4ba4-9fbb-6affb96fee7a" location="AppHarbor/Default" 
              layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} ${processid}: ${LEVEL}, ${message} ${exception:format=tostring}" 
              debug="true"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Info" appendTo="logentries" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
