<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
	  <add key="MONGOLAB_URI" value="mongodb://localhost/Compilify" />
	  <add key="REDISTOGO_URL" value="redis://localhost:6379" />
  </appSettings>
	<nlog>
		<targets>
			<target name="debugger" type="Debugger" layout="${logger:shortName=true} : ${LEVEL}, ${message}" />
		</targets>
		<rules>
			<logger name="*" minLevel="Trace" appendTo="debugger" />
		</rules>
	</nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>