<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BookSleeve" version="1.1.0.7" />
  <package id="le_nlog" version="1.5.3" />
  <package id="Newtonsoft.Json" version="4.5.1" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="protobuf-net" version="2.0.0.480" />
  <package id="Roslyn" version="1.0.11014.5" />
</packages>