<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetMvc" version="4.0.20126.16343" />
  <package id="AspNetRazor.Core" version="2.0.20126.16343" />
  <package id="AspNetWebApi" version="4.0.20126.16343" />
  <package id="AspNetWebApi.Core" version="4.0.20126.16343" />
  <package id="AspNetWebPages.Core" version="2.0.20126.16343" />
  <package id="Autofac" version="2.6.1.841" />
  <package id="Autofac.Mvc4" version="2.6.1.841" />
  <package id="BookSleeve" version="1.1.0.7" />
  <package id="CodeContracts.Unofficial" version="1.0.0.2" />
  <package id="DotNetOpenAuth.Core" version="4.0.1.12097" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.0.1.12097" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.0.1.12097" />
  <package id="jQuery" version="1.6.4" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Microsoft.Web.Optimization" version="1.0.0-beta" />
  <package id="mongocsharpdriver" version="1.4" />
  <package id="Newtonsoft.Json" version="4.5.2" />
  <package id="protobuf-net" version="2.0.0.480" />
  <package id="Roslyn" version="1.0.11014.5" />
  <package id="SignalR" version="0.4.0" />
  <package id="SignalR.Hosting.AspNet" version="0.4.0.0" />
  <package id="SignalR.Js" version="0.4.0.1" />
  <package id="SignalR.Server" version="0.4.0.0" />
  <package id="System.Json" version="4.0.20126.16343" />
  <package id="System.Net.Http" version="2.0.20126.16343" />
  <package id="System.Net.Http.Formatting" version="4.0.20126.16343" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" />
  <package id="System.Web.Providers.Core" version="1.0" />
  <package id="WebActivator" version="1.5" />
</packages>